
target/
*.class
*.log

.idea/
.bloop/
.metals/
.bsp/
.vscode/

out/
.scala-build/

.env

_site/
.flatmark-cache
docs/static/**/*.pkl

**/.deder/**
!**/.deder/server.properties

# PKL
pkl-codegen-java
config/resources
config/src

# JS
node_modules/
package-lock.json
yarn.lock
dist/

# other
tmp/
