
target/
*.class
*.log

.idea/
.bloop/
.metals/
.bsp/
.vscode/

out/
.scala-build/

.env

_site/
.flatmark-cache

**/.deder/**
!**/.deder/server.properties


# PKL
pkl-codegen-java
config/resources
config/src


_site/
.flatmark-cache
docs/static/**/*.pkl
