
name: CI

on:
  push:
    branches: main
  pull_request:
  workflow_call:  # allow this workflow to be called from other workflows

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Generate config bindings
        run: |
          curl -L -o pkl-codegen-java https://github.com/apple/pkl/releases/download/0.30.1/pkl-codegen-java
          chmod +x pkl-codegen-java
          ./scripts/gen-config-bindings.sh
      - name: Build server and client
        run: |
          ./mill -i server.assembly
          ./mill -i client.assembly
          mkdir -p deder_bin
          cp out/client/assembly.dest/out.jar deder_bin/deder
          echo "${{ github.workspace }}/deder_bin" >> $GITHUB_PATH
      - name: Exercise examples/multi
        working-directory: ./examples/multi
        run: |
          deder version

          deder modules
          deder modules --json
          deder modules --ascii
          deder modules --dot

          deder tasks

          deder plan -m common -t compile
          deder plan -m uber -t compile --json

          deder -t compile
          deder -t compile -m common

          deder -t test -m uber-test

          deder shutdown
      
      #- name: Test
      #  run: ./mill -i __.test
