
name: CI

on:
  push:
    branches: main
  pull_request:
  workflow_call:  # allow this workflow to be called from other workflows

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Unit Test
        run: |
          ./scripts/gen-config-bindings.sh
          ./mill server.test

  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Integration Test Suite
        run: |
          ./scripts/gen-config-bindings.sh
          ./mill -i server.assembly
          ./mill -i client.assembly       
          export DEDER_SERVER_PATH=$(realpath out/server/assembly.dest/out.jar)
          export DEDER_CLIENT_PATH=$(realpath out/client/assembly.dest/out.jar)
          ./mill -i integration.test
