
name: CI

on:
  push:
    branches: main
  pull_request:
  workflow_call:  # allow this workflow to be called from other workflows

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Generate config bindings
        run: |
          curl -L -o pkl-codegen-java https://github.com/apple/pkl/releases/download/0.30.1/pkl-codegen-java
          chmod +x pkl-codegen-java
          ./scripts/gen-config-bindings.sh
      - name: Compile
        run: ./mill -i __.compile
      - name: Test
        run: ./mill -i __.test
